html {
  font-size: 14px;
  margin:0 auto;
}
body {

}
/*** COMMON STYLES ***/
.thin-margin-top { margin-top: 1rem;}
.margin-top { margin-top: 3rem;}
.medium-margin-top { margin-top: 5rem;}
.thin-margin-bottom { margin-bottom: 1rem;}
.margin-bottom { margin-bottom: 3rem;}
.medium-margin-bottom { margin-bottom: 5rem;}
.text-upper { text-transform: uppercase;}
.text-center { text-align: center;}
header {
  background: #ff9000;
  color: white;
  text-align: center;
  padding: 1rem 0 0;
}

header p {
  letter-spacing: 1.1;
}
header h1 {
  font-size:2.5rem;
  font-weight: bold;
}
 span.rotated {
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* Flex Box Styles for Homepage */
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin:.25rem 0;
}
.box {
  flex:1;
  color:white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome {
  background: #69939f;
}
.growing {
  background: #f9ca3e;
}
.improving {
  background: #cf381d;
}
/** SUB PAGES NAV */
.flex-wrapper-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom:.5rem;
}
.nav-box{
  flex:1;
  color:white;
  padding: .5rem 0;
}

/**feature image area **/
.feat-img {
  background: orange;
  width: 100%;
  height: 320px;
}

footer {
  background: #b2d1bf;
  text-align: center;
}
.footer-logo {
  max-width: 200px;
  width:100%;
  margin: 0 auto;
  padding: 1rem 0 0;
}

footer a {
  color:white;
  text-decoration: none;
  padding: 1rem;
}
