/*** COMMON STYLES ***/
.thin-margin-top { margin-top: 1rem;}
.margin-top { margin-top: 3rem;}
.medium-margin-top { margin-top: 5rem;}
.thin-margin-bottom { margin-bottom: 1rem;}
.margin-bottom { margin-bottom: 3rem;}
.medium-margin-bottom { margin-bottom: 5rem;}
.text-upper { text-transform: uppercase;}
.text-center { text-align: center;}

html {
  font-size: 14px;
  margin:0 auto;

}
body {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  text-align: justify;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  display: block;
  width: 100%;
}


/** TEXT STYLES **/

h3 {
  font-weight: 200;
  letter-spacing: 2px;
}


header {
  background: #ff9000;
  color: white;
  text-align: center;
  padding: 1rem 0 0;
}

header p {
  letter-spacing: 1px;
  font-family: aktiv-grotesk-thin, sans-serif;
  font-weight: 275;
  font-style: normal;
  font-size:.8rem;
  margin-bottom: .25rem;
  text-align: center;
}
.flex-wrapper-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header a {
  text-decoration: none;
  color: white;
}
header a:hover {
  text-decoration: none;
  color: white;
}
header h1 {
  letter-spacing: 1px;
  font-size:3rem;
  font-family: aktiv-grotesk-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}
 span.rotated {
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  font-size: 1rem;
  margin: -8px -5px 0;
  font-weight: 500;
}

/* Flex Box Styles for Homepage */
.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:.25rem 0;
}
.box {
  flex:1;
  color:white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome {
  background: #69939f;
}
.growing {
  background: #f9ca3e;
}
.improving {
  background: #cf381d;
}

.box-graphic {
  position: relative;
}
.box-text {
  position: absolute;
  margin: 0 2rem;
}


/** SUB PAGES NAV */
.flex-wrapper-nav {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-top:white solid 2px;
  border-bottom:white solid 2px;
}
.nav-box{
  flex:1;
  color:white;
  padding: .5rem 0;
  align-self: stretch;

}
.nav-item {
  position: relative;
}
.nav-text:hover::before {
  content:'\27A4';
  position: absolute;
  width: 0;
  left: -15px;
}
.caret::after {
  content:'+';
  position: relative;
  width: 0;
  right: -15px;
  color:white;
}
.caret {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 2px;
    /*
    width: 0px;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent; */
}
/** SUB PAGES NAV NEW*/
.wrapper-nav {
  z-index: 6;
  position: absolute;
  width: 100%;
}
.nav-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-two li {
  flex: 1;
  padding:.5rem  0;
  align-self: stretch;
  /*border-top:white solid 2px;
  border-bottom:white solid 2px;*/
}
.nav-two li a {
  text-decoration: none;
  color: white;
}
.nav-two li a:hover {
  text-decoration: none;
  color: white;
}
.sub-nav {
  display: none;
  margin-top: .5rem;
}
.sub-nav .active {
  display: block;

}
.sub-nav li {
  border-top: solid lightgrey 1px;
}


/**feature image area **/
.feat-img {
  /*background: orange;
  width: 100%;
  height: 320px;*/
  display: none;
}
/** CONTENT AREA **/
main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.entry-content {
  margin:0 1rem;
  text-align: center;
}
.flex-wrapper-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.icon {
  text-align: center;
  align-self: flex-start;
  width: 150px;
  margin-bottom: 1rem;
}
.icon a {
  color:black;
}
.icon img {
  max-width: 125px;
  width: 100%;
  margin:0 auto;
}
.colored-divider {
  max-width: 130px;
  width: 100%;
  margin: 0 auto;
}
.flex-wrapper-content-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 1rem;

}
.flex-wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.circle-graphic {
  max-width:225px;
  min-width: 150px;
  width: 100%;
  margin-bottom: 2rem;
}

footer {
  /*background: #b2d1bf;*/
  background-image: url('../img/footer_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.footer-logo {
  max-width: 200px;
  width:100%;
  margin: 0 auto;
  padding: 1rem 0 1.5rem;
}

footer a {
  color:white;
  text-decoration: none;
  padding: 0rem;
}
footer a:hover {
  color:white;
}

/**MEDIA QUERIES **/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h3 {
    font-size: 1.25rem;
  }
  .flex-wrapper-nav {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-box{
    flex:1;
    color:white;
    padding: .5rem 0;
  }
  .nav-two {

    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .nav-two li {
    align-self: auto;
    /*border-top:white solid 2px;
    border-bottom:white solid 2px;*/
  }
  .feat-img {
    display: block;
  }
  .entry-content {
    margin:0;
  }
  /* Flex Box Styles for Homepage */
  .flex-wrapper {
    flex-direction: row;
  }
  .flex-wrapper-content-reverse {
    flex-direction: row;
    margin: 0;

  }
  .flex-wrapper-content {
    flex-direction: row;
    margin: 0;
  }
  .circle-graphic {
    margin-bottom: 0;
  }
  .margin-right {
    margin-right:3rem;
  }
  .margin-left {
    margin-left: 3rem;
  }
  footer a {
    padding: 1rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.35rem;
  }
  /** SUB PAGES NAV */


}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h3 {
    font-size: 1.55rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header p {
    letter-spacing: 1.3px;
    font-size:1rem;
    margin-bottom:1rem;
  }
  header h1 {
    letter-spacing: 1px;
    font-size:4rem;
    font-weight: 700;
  }
   span.rotated {
    font-size: 1.45rem;
    margin: -8px -10px 0;
    font-weight: 500;
  }
  h3 {
    font-size: 1.75rem;
  }

}
